.decision__buttons-list {
  float: right;
  margin-bottom: 10px;
}

.decision__buttons-list .article__button--social .icon {
  width: 24px;
  height: 24px;
  padding-left: 5px;
}

.decision__texte-header {
  margin-left: -15px;
  padding-top: 20px;
}

.decision__textes .tab-pane {
  text-align: left;
}

.decision__text {
  margin-top: 10px;
}

.nav-tabs {
  border-bottom: 1px solid @color-6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
  border-bottom-color: @color-6;
}

.nav-link.active {
  border: 1px solid transparent;
}

h2#decision-arrets, h2#decision-textes {
  border-bottom: 2px dotted #777;
}

h2#decision-textes {
  margin-bottom: 20px;
}
